# LaTeX files

*.aux
*.auxlock
*.bbl
*.bbl-SAVE-ERROR
*.blg
*.bcf
*.log
*.out
*.toc
*.lof
*.lot
*.nav
*.snm
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*-eps-converted-to.pdf
*main.pdf
*autosave.ipe
figures/externalized/
out/
